*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --yangColor: #d8c21e;
  --yinColor: #111111;
}



.text-dynamic {overflow: hidden;
}

.text-item {
  
  animation: slide 12s steps(4) infinite;
}

.text-item::after {
  animation: typing 3s steps(10) infinite;
}

@keyframes typing {
  40%,
  60% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}

@keyframes slide {
  100% {
    top: -360px;
  }
}
